version: '3'
services:
  app:
    container_name: contact-list-api
    restart: always
    build: .
    ports:
      - '80:3000'
    links:
      - mongo
  mongo:
    container_name: contact-list-mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - '27017:27017'