version: '3'
services:
  api:
    container_name: contact-list-api
    restart: always
    build: .
    ports:
      - '3000:3000'
    links:
      - mongo
  mongo:
    container_name: contact-list-mongo
    image: mongo
    ports:
      - '27017:27017'